@font-face {
  font-family: hotPizza;
  src: url("fonts/hotpizza.ttf");
}

body {
  font-family: hotPizza;
  background-color: aquamarine;
}

section {
  width: 90%;
  /* height: 100%; */
  margin: 0 auto;
  padding: 30px;
  border: none;
}

h1 {
  text-align: center;
  font-family: hotPizza;
  color: black;
  font-weight: 100;
}

h2 {
  display: none;
  text-align: left;
  font-family: hotPizza;
  color: black;
  font-weight: 100;
  margin-left: 30px;
}

h3 {
  display: none;
  text-align: center;
  font-family: hotPizza;
  color: black;
  font-weight: 100;
}

#subtitle {
  text-align: center;
  font-size: 16px;
}

#preferences {
  text-align: left;
  font-size: 15px;
}

#typeIngredients {
  font-size: 20px;
  text-align: left;
  color: black;
  width: 65%;
  /* margin-left: 30px; */
}

input[type="text"] {
  font-size: 20px;
  text-align: left;
  color: black;
  width: 65%;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: black;
  width: 20%;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 4px;
}

#recipeLink {
  width: auto;
  height: 30px;
  display: none;
  margin-left: 30px;
}

input[type="checkbox"] {
  cursor: pointer;
  background: #fff;
  border: 1px solid #888;
  padding: 1px;
  height: 20px;
  width: 20px;
}

input[type="submit"]:hover {
  background-color: chocolate;
}

#recipe {
  font-family: hotPizza;
  color: black;
  font-size: 20px;
  margin-left: 30px;
}

#errorMessage {
  color: red;
  font-size: 16px;
}

#recipeTitle {
  color: black;
  font-family: hotPizza;
  font-size: 40px;
  text-align: center;
}

#vegetarian {
  margin-right: 30px;
}
#vegan {
  margin-right: 30px;
}
#balanced {
  margin-right: 30px;
}

#recipeImg {
  width: 350px;
  height: 350px;
  float: right;
  border: none;
  display: none;
  margin-right: 60px;
  border-radius: 15px;
  /* padding-bottom: 30px; */
}
